input{
    margin: 20px;
    padding: 18px;
    justify-content: center;
    text-align: right;
    border-radius: 6px;
    width: 170px;
    height: 30px;
}


body{
    background-color: aqua;
}

.calculator {
  width: 250px;
  margin: 50px auto;
  border: 2px solid #333;
  border-radius: 10px;
  padding: 10px;
  background: #5e5656;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 10px;
}

button {
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background: #ddd;
  cursor: pointer;
  transition: background 0.2s;
}

button:hover {
  background: #bbb;
}

.btn{ 
  grid-column: span 2;
 }

 .btn:hover{
  background-color: rgb(247, 27, 27);
 }

 .bt:hover{
  background-color: rgb(14, 11, 11);
  color: #bbb;
 }

 .clear{
  background-color: rgb(216, 216, 138);
 }

 .clear:hover{
  background-color: yellow;
 }
 
 .b:hover{
  background-color: rgb(247, 27, 27);
 }

